body {
}

#map {
    height: 400px;
    width: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    margin-bottom:10px;
    width: 400px;
    font-family: 'Roboto','sans-serif';
    background-color: #fff;
}