@{
    ViewData["Title"] = "About";
}
<h2>Team: Group 12.</h2>
<div class="card text-white bg-primary">
    <div class="card-body">
        <blockquote class="card-blockquote">
            Eren Ertaş https://github.com/erenertas123 <br />
            Nuno Cruz https://github.com/nonuskroos <br />
            Kerem Tatlici https://github.com/keremttlc
        </blockquote>
    </div>
</div>