@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout";
}
<h1>Historical</h1>

<a href="https://www.google.pt/maps/place/Guarda/data=!4m2!3m1!1s0xd3cfac48ff6c653:0x400ebbde4903500?sa=X&ved=0ahUKEwih26Ho7KDXAhVBzxQKHUX3CRQQ8gEILDAA">Guarda Map</a>