@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/23192270_145670086181128_1155074515_o.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    For Health Life Trails4Health.
                    <a class="btn btn-default" href="/Home/InsertTrail">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/23224511_145692052845598_419745248_o.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Do you wanna see historical places of Guarda?
                    <a class="btn btn-default" href="/Home/Historical">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/23158336_145701769511293_1135600746_o.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Rate your exercises by filling the survey.
                    <a class="btn btn-default" href="/Home/Question">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Insert Trail</h2>
        <ul>
            <li>Select a path which you want to walk.</li>
            <li>Walk a road at maximum 1000mts</li>
            <li>See the historical places while walking</li>
            <li>See another user's comment about the road</li>
        </ul>
        <a class="btn btn-primary" href="/Home/InsertTrail">
            Details
        </a>
    </div>
    <div class="col-md-4">
        <h2>Achievements</h2>
        <ul>
            <li>Walk 1000m today.</li>
            <li>See at least 2 historical</li>
            <li>Don't miss your exercises</li>
        </ul>
        <a class="btn btn-primary" href="/Home/Achievements">
            Details
        </a>
    </div>
    <div class="col-md-4">
        <h2>Questions</h2>
        <ul>
            <li>Did you like the road?</li>
            <li>Did the exercise too hard?</li>
            <li>How often do you exercises?</li>
        </ul>
        <a class="btn btn-primary" href="/Home/Question">
            Details
        </a>
    </div>
</div>

