@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]= "Signup";
}
@model Trails4Health.Models.Signup
<h1>SignUp</h1>
<form  method="post" action="Index" class="form-horizontal">
<fieldset>
    <div class="form-group">
        <label asp-for="Username" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputEmail" placeholder="Username" asp-for="Username">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" asp-for="Password">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Email" asp-for="Email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fieldset>
</form>